################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OpenGL/v16
/.vs
/OpenGL/.vs/OpenGL/v16
/OpenGL/OpenGL/OpenGL.vcxproj.user
/OpenGL/x64/Debug
/OpenGL/OpenGL/x64/Debug
/OpenGL/OpenGL/Debug/OpenGL.tlog
/OpenGL/OpenGL/Debug
*.suo
*.user
_ReSharper.*